<div class="search_index_contents">
  <div class="search_index_box">
   <p>検索結果</p>
    <%if @articles.present? %>
      <% @articles.each do |article| %>
        <p class="search_title_article">"<%= link_to article.title,article_path(article.id) %>"</p>
        <br>
      <% end %>
    <% else %>
      <p>"検索した記事はありません"</p>
    <% end %>
  </div>
</div>
      
     
   

