<div class="followings_contents">
  <div class="folloe_title">
    <h2>followings</h2>
  </div>

    <% if @user.followings.empty? %>
      <div class="list-group-item">
        <p>Sorry!! You are not following</p>
        <p class="follow_sorry">tly it! following.</P>
        <p><img src="/assets/images/user/kanashimiblue.png"/></p>
      </div>
    <% else %>
    
     <div class="followings_box">
      <% @user.followings.each do |user| %>
        <table>
        <tr>
        <td><%= link_to user_path(user) do %>
          <img src="/assets/images/user/kib.png"/></td>
          <td><%= link_to user.profile.try(:user_name), users_show_path(user.id) %></td>
          </tr>
        <% end %>
        </table>
      <% end %>
    <% end %>


    </div>
      <div class="article_index_maypagelink">
        <span><%= link_to  "/users/#{current_user.id}" do %>
          <button type="button" class="btn btn-default">Back</button>
        </span>
          <% end %>
        
</div>