<div class="followers_contents">
  <div class="folloe_title">
    <h2>followers</h2>
  </div>
    <% if @user.followers.empty? %>
      <div class="list-group-item .followers_sorry">
        <p>Sorry!! You are not followers</p>
        <p>Have Fun!</p>
        <p><img src="/assets/images/user/kanashimiblue.png"/></p>
      </div>
    <% else %>
    <div class="followers_box">
      <% @user.followers.each do |user| %>
        <table>
        <tr>
        <td><%= link_to user_path(user) do %>
          <img src="/assets/images/user/kib.png"/></td>
          <td><%= link_to user.profile.try(:user_name), users_show_path(user.id) %></td>
        <% end %>
        </tr>
        </table>
      <% end %>
      <% end %>
    </div>
    <div class="article_index_maypagelink">
        <span><%= link_to  "/users/#{current_user.id}" do %>
          <button type="button" class="btn btn-default">Back</button>
        </span>
        <% end %>
    </div>
</div>