* {
    margin: 0;
    padding: 0;
}
.profile_photo_header img{

  width: 64px;
  height: 64px;
  position: relative;
  overflow: hidden;
  border-radius: 50px; /*追加*/

}

.img {
    transform: translate(-50%, -40%); /*調整*/
}
.navbar-brand{
  
  font-family: 'Lora', serif;
}
.navbar {
  margin-bottom: 0px!important;
}

.menu{
  font-family: 'Cormorant Garamond', serif;
  font-size: 17px;

}
.search_name{
  font-family: 'Lora', serif;

}
.navbar-default {
  margin-bottom: 0px;

}

    


/*pc-----------------------------------------------------------*/
@media all and (min-width: 751px) {

.navbar-default{
  width: 100%;
  padding: 0px!important;
}





}








/*タブレット-------------------------------*/

@media all and (max-width:  750px) {

.navbar-default{
  width: 100%;
  padding: 0px!important;



}



/*スマホ-----------------------------------*/

@media all and (max-width: 425px) {



}