.clearfix::after {
 content: "";
 display: block;
 clear: both;
}
.profile_photo img {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50px; /*追加*/

}
.img {
transform: translate(-50%, -40%); /*調整*/
}

.user_sign_up{
  background-image: url(../images/home/nyc1.jpg);
  width: 100%;
  height: 900px;
  padding-top: 1px;
  text-align: center;

}
.user_sign_up_contents{
  text-align: center;
  padding-top: 30px;
  margin-top:30px;
  font-family: 'Lora', serif;
  line-height: 25px;
}
.user_log_in{
  background-image: url(../images/home/Sliceag.jpg);
  width: 100%;
  height: 900px;
  padding-top: 1px;
  

}
.user_log_in_contents{

  padding-top: 30px;
  margin-top:30px;
  font-family: 'Lora', serif;
  line-height: 25px;

}
.profile_new{
  
  
  
}
.profile_new_contents{
  

}

/*pc-----------------------------------------------------------*/
@media all and (min-width: 768px) {

/*user/show*/  
.user_show_mypage{
   width: 100%;
    height: 100%;
    padding-top: 1px;
    /* background-image: url(../images/article/5points.jpg);*/
   /* background-color: #D3D3D3;*/

}
.user_show_hader{
width: 100%;
height: 400px;
margin: 10px;
padding-top: 40px;

background-image: url(../images/user/manha.png);

}

/*profile/show*/

.user_show_myself{
   
}
.ser_sprofile_show{
  width: 100%;
    height: 100%;
    padding-top: 1px;
    /* background-image: url(../images/article/5points.jpg);*/
   /* background-color: #D3D3D3;*/

}
.gender{
  border-bottom: double 6px #DCDCDC;

}
.self_introduction{
  border-bottom: double 6px #DCDCDC;

}
.link_but{
  padding-top: 3px;
  margin-top: 5px;
}

.user_profile_show_box{
  width:800px;
  min-height:90%;
  color : #000000;
  margin: 1.5% auto;
  background-color :#ffffff;
  line-height: 1.5em;
  filter:alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
}







}








/*タブレット-------------------------------*/

@media all and (max-width:  767px) {





}



/*スマホ-----------------------------------*/

@media all and (max-width: 425px) {



}


